body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

h1 {
  text-align: center;
}


/* add posts form */

form {
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  max-width: 400px;
}

form h2 {
  text-align: center;
  margin-top: 0;
}

.input-container {
  display: flex;   
  margin-bottom: 1em;
}

label, input, textarea {
  display: block;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

label {
  margin-right: 1em;
  font-weight: bold;
}

textarea {
  resize: vertical;
  height: 150px;
}

.btn-submit {
  font-size: 18px;
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all, 0.5s;
}

.btn-submit:hover, .btn-submit:focus {
  transform: scale(1.1);
   transition: all, 0.5s;
}

/* Posts */

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.posts-container h2 {
  text-align: center;
  margin-top: 0;
  grid-column: 1/-1;
}

.post-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  position: relative;
}

.post-title {
  margin-top: 0;
}

.post-body {
  margin-bottom: 50px; 
}

.btn-delete {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
  font-size: 16px;
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all, 0.5s;
}

.btn-delete:hover, .btn-delete:focus {
  transform: scale(1.1);
   transition: all, 0.5s;
}


/* Стили для AddPost.js */
.add-post {
  border: 1px solid #ccc;
  padding: 10px;
  width: 1000px;
  height: 1000px;
  text-align: center;
  margin: 10px;
  overflow: auto;
}

.add-post h2 {
  margin-bottom: 10px;
}

.add-post input,
.add-post button {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 5px;
}
.add-post button{
  --color1: #1a8516;
  --color2: #236b19;
  perspective: 1000px;
  padding: 1em 1em;
  background: linear-gradient(var(--color1), var(--color2));
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.add-post button::before{
  content: "";
  width: 100%;
  height: 15px;
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;

}
.add-post button::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: var(--color1);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}
.add-post button:hover {
  transform: rotateX(30deg) rotateZ(0);
}

.add-post button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.image-container {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
}

.card h3 {
  margin-bottom: 5px;
}

.card-image-container {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.card-cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}




.add-post {
  display: flex;
  gap: 20px;
}

.cat-image {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cat-image-big {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
}
/* pjst.js */


.image-container {
  text-align: center;
  padding: 10px;
}

.cat-image {
  max-width: 100%;
  max-height: 70%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.post-details {
  text-align: center;
  padding: 10px;
}

.post-details input,
.post-details textarea,
.post-details button {
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 5px;
}

.digBlock {
  width: 300px;
  height: 400px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.img {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qwe {
  color: blue;
  margin-top: 0;
}

.textarea {
  width: 100%;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
}

/* кнопка */
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
